################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Debug
/3spiskatrue.vcxproj.user
/3spiskatrue.vcxproj.filters
/3spiskatrue.vcxproj
/3spiskatrue.sln
/3spiska.vcxproj.user
/3spiska.vcxproj.filters
/3spiska.vcxproj
/3spiska.sln
